<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="12" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product Detail</mat-card-title>
      </mat-card-header>

      <mat-card-content id="productform">

        <mat-form [formGroup]="form" >
          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code">
            <!--            <mat-error *ngIf="this.form.controls['number'].invalid"> {{ this.regexes['number'] ['message'] }}</mat-error>-->
          </mat-form-field>
          <!--          <p></p>-->
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="qty">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Date of Introduced</mat-label>
            <input matInput [matDatepicker]="doi" formControlName="dointroduced">
            <mat-datepicker-toggle matIconSuffix [for]="doi"></mat-datepicker-toggle>
            <mat-datepicker #doi></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <div id="imgpanel">
            <img [src]="imageempurl">
            <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="photo">
            <label for="userImage" id="selectbutton">Select</label>
            <label id="clearbutton" (click)="clearImage()">Clear</label>
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Product Type</mat-label>
            <mat-select formControlName="producttype">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let producttype of producttypes" [value]="producttype">{{producttype.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Product Status</mat-label>
            <mat-select formControlName="productstatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let productstatus of productstatuses" [value]="productstatus">{{productstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <mat-select formControlName="color">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let color of colors" [value]="color">{{color.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <mat-select formControlName="size">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let size of sizes" [value]="size">{{size.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Thickness</mat-label>
            <mat-select formControlName="thickness">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let thickness of thicknesses" [value]="thickness">{{thickness.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <hr> <mat-label>Required Materials:</mat-label>
          <br><br><br>
      <div>
        <mat-form [formGroup]="innerform">

            <mat-form-field appearance="outline">
              <mat-label>Material</mat-label>
              <mat-select formControlName="material">
                <mat-option [value]="null" selected>Not Selected</mat-option>
                <mat-option *ngFor="let material of materials" [value]="material">{{material.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Quantity</mat-label>
              <input matInput formControlName="quantity">
            </mat-form-field>

            <button mat-raised-button id="btnAdd" (click)="btnaddMC()">Add</button>

        </mat-form>

            <mat-table [dataSource]="indata">

              <ng-container *ngFor="let innercolumn of innercolumns;let i = index;" [matColumnDef]="innercolumn">
                <mat-header-cell *matHeaderCellDef> {{innerheaders[i]}} </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <div *ngIf="i<innerbinders.length-1" [innerHTML]="uiassist.getProperty(element, innerbinders[i])"></div>
                  <div *ngIf="i>=innerbinders.length-1">
                    <button mat-raised-button (click)="deleteRaw(element)" id="rmv">Remove</button>
                  </div>
                </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="innercolumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: innercolumns;" ></mat-row>

            </mat-table>


          </div>
          <br><br><br>

          <mat-form-field appearance="outline">
            <mat-label>Unit Price</mat-label>
            <input [valueAsNumber]="unitprice" type="number" readonly matInput formControlName="unitprice">
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!praadd">Add</button>
            <button mat-raised-button (click)="clear()">Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!praupd">Update</button>
            <button mat-raised-button (click)="delete()" [disabled]="!pradel">Delete</button>
          </div>
        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="6">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Product Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form [formGroup]="ssearch">

          <mat-form-field appearance="outline">
            <mat-label>Search by Code</mat-label>
            <input matInput formControlName="sscode">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by Unit Price</mat-label>
            <input matInput formControlName="ssunitprice">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search By Color</mat-label>
            <mat-select formControlName="sscolor">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let color of colors" [value]="color.id">{{color.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search By Size</mat-label>
            <mat-select formControlName="sssize">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let size of sizes" [value]="size.id">{{size.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search By Thickness</mat-label>
            <mat-select formControlName="ssthickness">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let thickness of thicknesses" [value]="thickness.id">{{thickness.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon>Search</button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMe()"><mat-icon>reorder</mat-icon>Clear Search</button>
          </div>

        </mat-form>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Product Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element,binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn"
                         (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}"></mat-row>

        </mat-table>
        <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
